<!DOCTYPE html>
<html>
  <head>
    <title>FirstApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <li class="navbar-brand">
         <%= link_to 'inicio', root_path, class:'nav-link' %>
       </li>
       <li class="navbar-brand">
         <%= link_to 'two', pages_two_path, class:'nav-link' %>
       </li>
       <li class="navbar-brand">
         <%= link_to 'three', pages_three_path, class:'nav-link' %>
       </li>
       <li class="navbar-brand">
         <%= link_to 'two', pages_two_path, class:'nav-link' %>
       </li>
      </div>
  </nav>
    <%= yield %>
  </body>
</html>
